{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'css/bg.css' %}">
    <style>

    body {
      background-position:center;
      background-repeat: no-repeat;
      background-size:1800px;
      text-decoration:none;
      color: white;
      text-align:center;
      font-size: 30px;
      }
      
    </style>


    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <link rel="stylesheet" href="{% static 'css/login_page.css' %}">

    <body style="background-image: url('{% static "images/Login.jpg"%}')";>

    <form  action="" method="post">
      {% csrf_token %}

    <input type="text" name="username" placeholder="User_Name"><br>
    <input type="text" name="firstname" placeholder="First_Name"><br>
    <input type="text" name="lastnam" placeholder="Last_Name"><br>
    <input type="email" name="email" placeholder="Email"><br>
    <input type="password" name="password1" placeholder="Password"><br>
    <input type="password" name="password2" placeholder="Confirm_Password"><br>
    <input type="submit" value="Register_Here" >
    </form>
    {% for i in messages %}
    <h3>{{i}}</h3>
    {% endfor %}
    <!--<a href={% url 'login' %}><br>Login_Here</a> -->


  </body>
</html>
